<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div align="center" class="col-md-12"><img src="../../../assets/logo.jpg"></div>
    <div align="center" class="col-md-12"><h1 style="color:crimson">Archer Studio</h1></div>
  </div>

  <div class="row">
    <div class="col-md-4"><h3>What is this place?</h3></div>
  </div>

  <div class="row">
    <div class="col-md-7"><hr></div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <p>
        This web application is designed for my personal use. It allows me to able to keep track of my work schedule and my custom schedule.
        One may ask, "Why would I need to keep track of my work schedule if I work a 9-5 job?" The reason is because there was a time when I was
        not in a programming job. When I was in retail I would receive a schedule that would rotate around shifts.
      </p>
      <p>
        This is the reason why I made this application in this manner. The custom schedule is for other things such as appointments, school or extra
        activities. Before working at Revature I felt my programming knowledge was not at the level that I wanted. With the training programming I was 
        exposed to technologies that even some companies have not even adopted yet. 
      </p>
      <p>
        Archer Studio is a web application that is a composit of all of my past projects assembled into one large project. You will even have the ability
        to sign up and login into your account for your needs.
      </p>
    </div>
  </div>

</div>