<app-navbar></app-navbar>

<form><div class="container-fluid">

  <div class="row">
    <div class="col-md-3"><h2>Your Credentials</h2></div>
  </div>

  <div class="row">
    <div class="col-md-6"><hr></div>
  </div>

  <div class="row">
    <div class="col-md-3"><input class="form-control mr-sm-2" name=username type="text" placeholder="Username" required></div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3"><input class="form-control mr-sm-2" name=password type="text" placeholder="Password" required></div>
    <div class="col-md-3"><input class="form-control mr-sm-2" name=cpassword type="text" placeholder="Confirm Password" required></div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3"><h2>Your Information</h2></div>
  </div>

  <div class="row">
    <div class="col-md-6"><hr></div>
  </div>

  <div class="row">
    <div class="col-md-3"><input class="form-control mr-sm-2" name=fname type="text" placeholder="First Name" required></div>
    <div class="col-md-3"><input class="form-control mr-sm-2" name=lname type="text" placeholder="Last Name" required></div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-2"><input class="form-control mr-sm-2" name=age type="number" placeholder="Your Age" required></div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3"><h2>Your Birthday</h2></div>
  </div>

  <div class="row">
    <div class="col-md-6"><hr></div>
  </div>

  <div class="row">
    <div class="col-md-2">Month</div>
    <div class="col-md-2">Day</div>
    <div class="col-md-2">Year</div>
  </div>

  <div class="row">
    <div class="col-md-2"><input class="form-control mr-sm-2" min="1" max="12" type="number" required></div>
    <div class="col-md-2"><input class="form-control mr-sm-2" min="1" max="31" type="number" required></div>
    <div class="col-md-2"><input class="form-control mr-sm-2" min="1960" max="2018" type="number" required></div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3"><input style="color:white; background-color:lime" class="form-control mr-sm-2" type="submit" value="Let's Go!"></div>
  </div>

  <br><br><br>
  
</div></form>